<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="application/views/home/styles/general.css" rel="stylesheet" type="text/css" />
<link href="application/views/home/styles/main.css" rel="stylesheet" type="text/css" />
<style>
    td{font-size:1.2em;}
  .title{font-size: 3em;background-color: RGB(39,130,150);border:0;color:#fff;}
  .register{display: inline-block;background-image:url(application/views/home/images/button_bg.gif);width:90px;height: 21px;text-align: center}
  #notice02{display: inline-block;width: 258px;height: 15px}
  #notice03{display: inline-block;width: 258px;height: 15px}
</style>
<style type="text/css">
body {
  color: white;
}
</style>
<script>

  //调用ajax判断用户名是否使用过
   function ajaxRegist(){
     // document.getElementById("notice").innerHTML=
        //得到ajax对象
        var xhr=new XMLHttpRequest();
        // console.log(xhr);
        //接受服务器返回的数据
        xhr.onreadystatechange=function(){
          // document.getElementById("notice").innerHTML="hiho";
             if(xhr.readyState==4){
               document.getElementById("notice").innerHTML=xhr.responseText;
             }
        }
         //获取注册的用户名
         var userName=encodeURIComponent(document.getElementsByTagName("input")[0].value);
        //开启一条http请求
        xhr.open("get", "index.php?p=home&c=register&a=repeatedName&userName="+userName);
        //发送请求协议
        xhr.send(null);
   }

    //确认密码
    function confirmPass(){
         //获取第一次填写的密码
         $pass01=encodeURIComponent(document.getElementsByTagName("input")[1].value);
         //获取填写的确认密码
         $pass02=encodeURIComponent(document.getElementsByTagName("input")[2].value);
         //判断字符个数
         if($pass01.length<6){
           document.getElementById("notice02").innerHTML="密码的字符长度请大于等于6个";
         }else if($pass01.length>=6){
          document.getElementById("notice02").innerHTML="";
            if($pass01!=$pass02){
              document.getElementById("notice03").innerHTML="两次输入的密码不一样！";
            }else{
              document.getElementById("notice03").innerHTML="";
            }

         }
    }

</script>
</head>
<body style="background: #278296">
  <h1 align="center" class="title">觅集问题收集系统--注册</h1>
<form method="post" action="index.php?p=home&c=register&a=registe" name='theForm'>
  <table cellspacing="0" cellpadding="0" style="margin-top: 100px" align="center">
  <tr>
    <td><img src="application/views/home/images/mijilogo.png" width="278"  border="0" alt="ECSHOP" /></td>
    <td style="padding-left: 50px">
      <table>
      <tr height="43px">
        <td>用户名：</td>
        <td><input type="text" name="username" onblur="ajaxRegist()" /> <font color="red" id="notice" size="2"></font></td>
      </tr>
      <tr height="43px">
        <td>密码：</td>
        <td><input type="password" name="password" onblur="confirmPass()"/><font  color="red" id="notice02" size="2">请使用字母或者数字的组合字符个数大于6个</font></td>
      </tr>
      <tr height="43px">
        <td>确认密码：</td>
        <td><input type="password" name="confirmpassword" onblur="confirmPass()"/><font color="red" id="notice03" size="2"></font></td>
      </tr>
      <!-- <tr>
        <td>验证码：</td>
        <td><input type="text" name="captcha" class="capital" /></td>
      </tr>
      <tr>
      <td colspan="2" align="right"><img src="index.php?p=home&c=login&a=captcha" width="145" height="40" alt="CAPTCHA" border="1" onclick= this.src="index.php?p=home&c=login&a=captcha&"+Math.random() style="cursor: pointer;" title="看不清？点击更换另一个验证码。" />
      </td>
      </tr>
      <tr><td colspan="2"><input type="checkbox" value="1" name="remember" id="remember" /><label for="remember">请保存我这次的登录信息</label></td></tr>-->
      <tr><td>&nbsp;</td><td><input type="submit" value="注册" class="button" /></td>

      </tr>

      </table>
    </td>
  </tr>
  </table>
  <input type="hidden" name="act" value="signin" />
</form>

</body>